<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Activation Email</title>
</head>
<body>
    <p>Hello, <%= user.name %></p>
    <h1>Activation Email</h1>
    <h2><%= activationCode %></h2>
</body>
</html>